.user-menu-drawer {
   background: url(http://blog-1304453302.cos.ap-guangzhou.myqcloud.com/1680590332606.webp);
   background-size: cover;
   color: #fff;

  .el-drawer__header {
    margin-bottom: 5px;
  }

  .el-drawer__body {
    padding-top: 0;
  }
}